<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="shop/fragments.html :: header"></head>
    <body>
        <h1>New Item</h1>
        <form action="#"
              th:action="@{/create}"
              th:object="${item}"
              method="post">
            <div th:replace="shop/fragments.html :: fields"></div>
            <input type="submit" class="btn btn-primary" value="Add Item">
        </form>
    </body>
</html>